<!doctype html>
<html>
  <head>
    <script type="text/javascript" src="../lib/angular.min.js"></script>
    <script type="text/javascript" src="../src/angular-zoom.js"></script>
    <script>
      angular.module("zoomDemo", ["angular-zoom"]);
    </script>
  </head>
  <body ng-app="zoomDemo" ng-init="zoom = 1">
    <div ng-zoomable zoom-amount="zoom" max-zoom="2">
      <img ng-zoomable-target src="cat.jpg" draggable="false"/>
    </div>

    <button ng-click="zoom = zoom + 0.01">Zoom In</button>
    <button ng-click="zoom = zoom - 0.01">Zoom Out</button>
  </body>
</html>
